@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?d2ig8k');
    src: url('../fonts/icomoon.eot?d2ig8k#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?d2ig8k') format('truetype'),
        url('../fonts/icomoon.woff?d2ig8k') format('woff'),
        url('../fonts/icomoon.svg?d2ig8k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1400px;
    margin: 0 auto;
}

/* < !-- Shortcut,top nav --> */

.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}

.arrow-icon::after {
    content: '\e92e';
    font-family: 'icomoon';
    margin-left: 6px;
}

/* < !-- header region --> */
.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;

}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
    /* font-size: 0;京东的做法*/
    /* 淘宝的做法让文字隐藏 */
    text-indent: -9999px;
    overflow: hidden;
}

.search {
    position: absolute;
    left: 346px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    width: 455px;
    height: 32px;
    padding-left: 10px;
}