@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?d2ig8k');
    src: url('../fonts/icomoon.eot?d2ig8k#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?d2ig8k') format('truetype'),
        url('../fonts/icomoon.woff?d2ig8k') format('woff'),
        url('../fonts/icomoon.svg?d2ig8k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1400px;
    margin: 0 auto;
}

/* < !-- Shortcut,top nav --> */

.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
    font-size: 18px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fr ul li:hover {
    cursor: pointer;
}

.style_red {
    color: #c81623;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
    cursor: default;
}

.arrow-icon::after {
    content: '\e92e';
    font-family: 'icomoon';
    margin-left: 6px;
}

.button {
    align-items: center;
    background-color: linear-gradient(#f7f8fa, #e7e9ec);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    margin: 0 2px;
    padding: 0 5px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button:hover {
    color: #F76301;
}

/* < !-- header region --> */
.header {
    position: relative;
    height: 200px;
    background-color: pink;
}

.logo {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    background-color: #FFFFFF;

}

.logo a {
    display: block;
    width: 200px;
    height: 200px;
    background: url(../images/SLMCS_LOGO_300_trans.gif) no-repeat;
    background-size: cover;
    /* font-size: 0; */
    text-indent: -9999px;
    overflow: hidden;
}

.topBanner {
    position: absolute;
    right: 0;
    width: 1200px;
    height: 200px;
    background-color: #E35032;
}

.topBanner h1 {
    position: relative;
    left: 300px;
    width: 560px;
    letter-spacing: 4px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 25px;
}

.topBanner h2 {
    position: relative;
    left: 190px;
    color: #ffff00;
    width: 800px;
    font-size: 26px;
    font-weight: bold;
    font-weight: bold;
    letter-spacing: 2px;
}

.searchSection {
    position: relative;
    height: 25px;
    background-color: #ffffff;
}

.searchSection .logo_bottom {
    position: absolute;
    height: 25px;
    width: 200px;
    line-height: 25px;
    background-color: #E35032;
    text-align: center;
    color: #ffff33;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.search {
    position: absolute;
    left: 200px;
    width: 600px;
    height: 25px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    width: 500px;
    height: 22px;
    padding-left: 10px;
}

.search button {
    float: left;
    width: 96px;
    height: 22px;
    background-color: #b1191a;
}

.download {
    position: absolute;
    background-color: pink;
    left: 800px;
    width: 600px;
    height: 25px;
}

.download ul {
    float: left;
    margin: 0 10px;
}

.download ul li {
    float: left;
    height: 25px;
    line-height: 25px;
    margin: 0 20px;
}

.download ul li a {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #1A1DEE;
}

.slider_display {
    height: 400px;
    background-color: pink;

}

.loop-wrap {
    position: relative;
    width: 850px;
    height: 320px;
    overflow: hidden;
}

.loop-images-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 600%;
    /* 横向排列 5张图片 宽度应为主容器5倍 */
    height: 100%;
    font-size: 0;
}

.loop-image {
    width: 850px;
    height: 320px;
}

.loop-images-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 500%;
    height: 100%;
    font-size: 0;
    transform: translate(0, 0);
    /* 初始位置位移 */
    animation: loop 20s linear infinite;
}

@keyframes loop {
    0% {
        transform: translate(0, 0);
    }

    15% {
        transform: translate(0, 0);
    }

    /* 停留1500ms */

    20% {
        transform: translate(-20%, 0);
    }

    /* 切换500ms 位移-20% */
    35% {
        transform: translate(-20%, 0);
    }

    40% {
        transform: translate(-40%, 0);
    }

    55% {
        transform: translate(-40%, 0);
    }

    60% {
        transform: translate(-60%, 0);
    }

    75% {
        transform: translate(-60%, 0);
    }

    80% {
        transform: translate(-80%, 0);
    }

    95% {
        transform: translate(-80%, 0);
    }

    100% {
        transform: translate(0, 0);
    }

    /* 复位到第一张图片 */
}