@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?d2ig8k');
    src: url('../fonts/icomoon.eot?d2ig8k#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?d2ig8k') format('truetype'),
        url('../fonts/icomoon.woff?d2ig8k') format('woff'),
        url('../fonts/icomoon.svg?d2ig8k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1400px;
    margin: 0 auto;
}

/* < !-- Shortcut,top nav --> */

.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
    font-size: 18px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}

.arrow-icon::after {
    content: '\e92e';
    font-family: 'icomoon';
    margin-left: 6px;
}

.button {
    align-items: center;
    background-color: linear-gradient(#f7f8fa, #e7e9ec);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    margin: 0 2px;
    padding: 0 5px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button:hover {
    color: #F76301;
}

/* .button {
    float: right;
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
} */

/* < !-- header region --> */
.header {
    height: 105px;
    background-color: pink;
}