.registerarea {
    height: 800px;
    border: 1px solid #ccc;
    margin-top: 20px;
    background-color: #fff;
}


form {
    padding: 25px;
    margin: 150px auto 50px;
    /* background: #fff; */
    max-width: 800px;
    width: 100%;
    border-radius: 7px;
    /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05); */

}

form h2 {
    font-size: 27px;
    text-align: center;
    margin: 0px 0 30px;
    color: #000;
    font-weight: bold;
}

form .form-group {
    margin-bottom: 15px;
    position: relative;
}

form label {
    display: block;
    font-size: 15px;
    margin-bottom: 7px;
}

form input {
    height: 45px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    outline: none;
    background: #fff;
    border-radius: 3px;
    border: 2px solid #bfbfbf;
}


form input:focus {
    border-color: #9a9a9a;
}

form input.error,
form select.error {
    border-color: #f91919;
    background: #f9f0f1;
}


.submit-btn {
    margin-top: 30px;
}

.submit-btn input {
    color: white;
    border: none;
    height: auto;
    font-size: 24px;
    padding: 13px 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
    text-align: center;
    background: #003366;
    transition: 0.2s ease;
}

.submit-btn input:hover {
    background: hwb(210 5% 12% / 0.842);
}


footer {
    height: 35px;
    text-align: center;
    margin: 20px auto;
    color: #000;
    line-height: 35px;
}

footer span {
    font-weight: bold;
}